<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" type="image/x-icon"  href="/images/l.ico"/>
<title>thymeleaf模板渲染</title>
<style type="text/css">
td{
border:1px solid #F00;	
}
</style>
</head>
<body>
<p th:text="${#maps.containsKey(map,'0')}"></p>
<p th:text="${map['0']}"></p>

<!--输出list集合  -->
	<table>
		<tr>
			<th>NO.</th>
			<th>ID</th>
			<th>姓名</th>
			<th>年龄</th>
			<th>偶数</th>
			<th>奇数</th>
		</tr>
		<tbody>
			<tr th:each="member,memberState:${list}">
				<td th:text="${memberState.index}"></td>
				<td th:text="${member.id}"></td>
				<td th:text="${member.name}"></td>
				<td th:text="${member.age}"></td>
				<td th:text="${memberState.even}"></td>
				<td th:text="${memberState.odd}"></td>
			</tr>
		</tbody>
	</table>	
	<hr/>
<!--输出map集合  -->
	<table>
		<tr>
			<th>NO.</th>
			<th>KEY</th>
			<th>ID</th>
			<th>姓名</th>
			<th>年龄</th>
			<th>偶数</th>
			<th>奇数</th>
		</tr>
		<tbody>
			<tr th:each="member,memberState:${map}">
				<td th:text="${memberState.index}"></td>
				<td th:text="${member.key}"></td>
				<td th:text="${member.value.id}"></td>
				<td th:text="${member.value.name}"></td>
				<td th:text="${member.value.age}"></td>
				<td th:text="${memberState.even}"></td>
				<td th:text="${memberState.odd}"></td>
			</tr>
		</tbody>
	</table>	
	<hr/>
	
<!-- 	<span th:replace="@{/message/footer}::companyInfo"></span> -->
	<hr/>
	<span th:include="@{/message/footer}::companyInfo" th:with="address=lxc,phone=15208245419"></span>

</body>
</html>